*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.rar
*.7z
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.tokens
*.orig
*.ldf
*.mdf
*.ndf

# teleopti things
*.[Cc]onfig
appsettings.test.json
*.feature.cs
dbo.OlaHallengren*.sql
dbo.IndexMaintenance*.sql
.com.teleopti.wfm.developer.tools
*.backup
*.dbcache
WISE/Simulation/**

# front end build
npm-debug*
npm-shrinkwrap.json

# ide and tools
**/.vs/
**/.idea/*
!.idea/config/
.idea/config/*
!.idea/.idea.CruiseControl/
.idea/.idea.CruiseControl/*
!.idea/.idea.CruiseControl/.idea/
.idea/.idea.CruiseControl/.idea/*
!.idea/.idea.CruiseControl/.idea/runConfigurations/
*resharper*
_ReSharper*/
.sonarqube/
[Bb]uild[Ll]og.*
[Tt]est[Rr]esult*
*.[Pp]ublish.xml
*.orig
*.tmp_proj
*.rej
*.DotSettings
/.vscode/*
!/.vscode/extensions.json
!/.vscode/Frontend.code-workspace
.gitconfig
.mob/

# packages
packages/

# bin
[Bb]in
obj/
[Db]ebug/
[Rr]elease/


Teleopti\.Messaging/TeleOpti\.Messaging\.Bin/
Teleopti.Wfm.Administration/frontend/.vscode/settings.json
/Teleopti.Ccc.Web/Teleopti.Ccc.Web/.vscode/launch.json
/.env*
!/.env-example
/Teleopti.Wfm.Api/appsettings.json
/Teleopti.Wfm.Api/output

/Teleopti.Wfm.Zpydir.Server/appsettings.json
/Teleopti.Wfm.Zpydir.Server/output

/Teleopti.Wfm.Administration/appsettings.json

/Teleopti.Ccc.Sdk/Teleopti.Ccc.Sdk.ServiceBus.ConsoleHost/Logs
/Teleopti.Ccc.Sdk/Teleopti.Ccc.Sdk.ServiceBus.Host/Logs

# Web
node_modules/
npm-debug.log


## Build files
/dist
/Teleopti.Ccc.Web/Teleopti.Ccc.Web/WFM
/Teleopti.Ccc.Web/Teleopti.Ccc.Web/dist
/Teleopti.Ccc.Web/Teleopti.Ccc.Web/dist-ajs
/Teleopti.Ccc.Web/Teleopti.Ccc.Web/reset-password
/Teleopti.Ccc.Web/Teleopti.Ccc.Web/mytime-angular
/Teleopti.Wfm.Administration/v2
/Teleopti.Ccc.Web/Teleopti.Ccc.Web/assets/i18n

## Test resuluts
/HeadlessChrome_*/
/result.xml
/frontend-apps/*/TESTS-*.xml
/frontend-libs/*/TESTS-*.xml
**/cypress/videos
**/cypress/screenshots

# Database files that are only applied locally
/Database/TeleoptiCCC7/Development/*.sql
/.tgitconfig

# Application files
Logs/*
!Logs/.gitkeep
